In [1]:
# Importação de bibliotecas
import psycopg2
from getpass import getpass

# Parâmetros de conexão
host = 'localhost'
port = 5432
database = 'transporte_coletivo'
user = 'postgres'
password = '123456789'

In [2]:
# Função para abrir conexão com o BD
def abre_conexao():
    
    conexao = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password
    )
    cursor = conexao.cursor()
    
    return conexao, cursor

In [3]:
# Função para fechar conexão com o BD
def fecha_conexao(conexao, cursor):
    
    cursor.close()
    conexao.close()

In [4]:
# Função para criar esquema
def cria_esquema():
    
    conexao, cursor = abre_conexao()
    cursor.execute(f"CREATE SCHEMA RODOVIARIO;")
    conexao.commit()
    fecha_conexao(conexao, cursor)
    
    return print("Esquema criado com sucesso!")
#cria_esquema('rodoviario')

In [5]:
def exclui_esquema():
    
    conexao, cursor = abre_conexao()
    cursor.execute(f"DROP SCHEMA IF EXISTS RODOVIARIO CASCADE;")
    conexao.commit()
    cursor.close()
    fecha_conexao(conexao, cursor)

    return print("Esquema excluído com sucesso!")

#exclui_esquema('rodoviario')

In [6]:
# Função para criar a estrutura de tabelas
def cria_todas_tabelas():

    conexao, cursor = abre_conexao()

    diretorio = r'C:\Users\pamel\OneDrive\Documentos\Estudos\UFSC\4º Semestre\Banco de Dados\cria_banco.sql'
    with open(diretorio, 'r') as arquivo:
        consultas = arquivo.read().split(';')

    for consulta in consultas:
        if consulta.strip():
            cursor.execute(consulta)

    conexao.commit()
    fecha_conexao(conexao, cursor)

    return print("Tabelas criadas com sucesso!")

In [7]:
def popula_todas_tabelas():

    conexao, cursor = abre_conexao()

    diretorio = r'C:\Users\pamel\OneDrive\Documentos\Estudos\UFSC\4º Semestre\Banco de Dados\popula_banco.sql'
    with open(diretorio, 'r') as arquivo:
        consultas = arquivo.read().split(';')

    for consulta in consultas:
        if consulta.strip():
            cursor.execute(consulta)

    conexao.commit()
    fecha_conexao(conexao, cursor)
    
    return print("Tabelas populadas com sucesso!")

In [8]:
def recupera_tabelas():
    
    conexao, cursor = abre_conexao()

    cursor.execute(f"SELECT table_name FROM information_schema.tables WHERE table_schema='rodoviario';")
    tabelas = cursor.fetchall()
   
    nomes_tabelas = [tabela[0] for tabela in tabelas]
    
    return nomes_tabelas

In [9]:
def exclui_todas_tabelas():
     
    conexao, cursor = abre_conexao()

    nomes_tabelas = recupera_tabelas()
    
    for nome_tabela in nomes_tabelas:
        cursor.execute(f"DROP TABLE IF EXISTS rodoviario.{nome_tabela} CASCADE;")
        #print(nome_tabela)

    conexao.commit()
    fecha_conexao(conexao, cursor)
    
    return print("Tabelas excluídas com sucesso!")

In [10]:
def deleta_bd_completo ():
    
    exclui_todas_tabelas()
    exclui_esquema()

In [11]:
def cria_bd_completo ():
    
    cria_esquema()
    cria_todas_tabelas()
    popula_todas_tabelas()

In [12]:
def atualiza_tabela():

    conexao, cursor = abre_conexao()

    tabelas = recupera_tabelas()

    print("Qual tabela deseja atualizar?")

    menu = {}
    for i, valor in enumerate(tabelas):
        valor_formatado = valor.capitalize().replace("_", " ")
        menu[i] = valor_formatado
        print(f"{i}: {valor_formatado}")
    
    escolha = getpass("Digite o identificador:")
    while not escolha.isdigit() or int(escolha) not in menu:
        print("Escolha inválida. Tente novamente.")
        escolha = getpass("Digite o identificador:")
    escolha = int(escolha)
    
    print(menu[int(escolha)])
    #cursor.execute(f"SELECT column_name FROM information_schema.columns WHERE table_name = '{menu[int(escolha)]}';")

    conexao.commit()
    fecha_conexao(conexao, cursor)

In [13]:
#cria_bd_completo ()
#deleta_bd_completo ()
atualiza_tabela()

Qual tabela deseja atualizar?
0: Municipio
1: Terminal
2: Veiculo
3: Motorista
4: Itinerario
5: Empresa
6: Tipo onibus
7: Linha
8: Linha parada
9: Parada
10: Meio pagamento
11: Meio pagamento terminal
12: Conexao
13: Linha parada itinerario
Escolha inválida. Tente novamente.
Escolha inválida. Tente novamente.
Escolha inválida. Tente novamente.

In [1]:
#!!!!!!!!!Faltam!!!!!!!!!!

# - UPDATE EM TABELAS
# - INSERÇÕES EM TABELAS ESPECÍFICAS
# - EXCLUSOES EM TABELAS ESPECÍFICAS
# - INSERÇOES DE TABELAS
# - EXCLUSOES DE TABELAS ESPECÍFICAS
# - CONSULTA 1
# - CONSULTA 2
# - CONSULTA 3
# GRÁFICOS

SyntaxError: invalid syntax (2438828721.py, line 3)

In [ ]:
# # Função para executar consulta
# def executa_consulta(sql):
    
#     conexao, cursor = abre_conexao()
#     cursor.execute(sql)
#     resultado = cursor.fetchall()
#     fecha_conexao(conexao, cursor)
    
#     return resultado
# def exclui_esquema(esquema):
    
#     conexao, cursor = abre_conexao()
#     cursor.execute(f"DROP SCHEMA IF EXISTS {esquema} CASCADE;")
#     conexao.commit()
#     cursor.close()
#     fecha_conexao(conexao, cursor)

In [ ]:
# # Exemplo de consulta
# consulta = "SELECT * FROM rodoviario.MUNICIPIO"
# resultados = executa_consulta(consulta)

# # Exibir os resultados
# for resultado in resultados:
#     print(resultado)
    
# # # Executar a instrução SQL para criar o esquema
# create_schema_query = f"CREATE SCHEMA oioioi;"
# cria_esquema(create_schema_query)